.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #faf9f6;
  text-align: center;
}

span i{
  padding: 0px 15px;
}
.meta small {
  text-wrap: wrap;
}
.bot-container{
  min-height: 50px;
  background-color: olivedrab;
}

